[Match]
Name=br0

[Link]
ActivationPolicy=always-on
MTUBytes=1280

[Network]
Address=10.7.7.1/24
ConfigureWithoutCarrier=true
DHCPServer=true

[DHCPServer]
PoolOffset=100
PoolSize=120
EmitDNS=true
DNS=8.8.8.8
DNS=1.1.1.1
